.kyc-page {
    padding: 20px;
    background-color: #f8f9fa;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #343a40;
  }
  
  .card {
    border-radius: 15px;
  }
  
  .alert {
    font-size: 1rem;
  }
  
  button {
    background-color: #007bff;
    border: none;
    padding: 10px;
    font-size: 1rem;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  img {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
  }
  

  /* KYC Details section styling */
.kyc-page .card-body p {
    margin-bottom: 0.5rem; /* Add margin for spacing */
  }
  
  @media (max-width: 576px) {
    .kyc-page .card-body img {
      margin-bottom: 1rem; /* Add spacing between images on mobile */
    }
  }
  