/* PiggyBox.css */
.piggybox-page {
    padding: 20px;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .user-info p, .card p {
    margin: 5px 0;
  }
  
  .transaction-table-container {
    overflow-x: auto; /* Allow horizontal scrolling for tables */
  }
  
  .filter-form {
    flex-wrap: wrap;
  }
  
  .filter-form .form-group {
    flex: 1 1 100%; /* Full width for mobile */
    margin-bottom: 10px;
  }
  
  .action-buttons button {
    width: 100%; /* Full width buttons for mobile */
    margin-bottom: 10px;
  }
  
  /* Responsive Styles */
  @media (min-width: 768px) {
    .filter-form .form-group {
      flex: 1; /* Share available space equally */
      margin-bottom: 0;
    }
    .action-buttons button {
      width: auto; /* Auto width for desktop */
      margin-bottom: 0;
    }
  }
  